/**
* components.css
*
* @author Edwin Cotto <edtowers1037@gmail.com>
* @copyright Edwin Cotto, All rights reserved.
*
* @version 2024-February-04 initial version
*/

@import "../components/displayBox/displayBox.css";
@import "../components/checkbox/checkbox.css";
@import "../components/tiles/educationTiles/educationTiles.css";
@import "../components/tiles/experienceTiles/experienceTiles.css";
@import "../components/tiles/skillsTiles/skillsTiles.css";
